:root {
    --gray-lt: #EEEEFF;
    --navy: #233D4D;
}

#landing {
    height: 40em;
}

.jumbotron {
    background-color: var(--navy);
    color: white;
}

.icon {
    fill: white;
}

.card {
    border-color: var(--navy);
}

.jumbotron .card {
    border-color: white;
    color: white;
    background-color: var(--navy);
}

.jumbotron .card-header {
    border-color: white;
}

.light-border-left {
    border-left: 3px solid white;
}

.dark-border-left {
    border-left: 3px solid var(--navy);
}

.dark-border-right {
    border-right: 3px solid var(--navy);
}

.footer {
    border-top: 1px solid var(--navy);
}

#banner {
    font-size: 500%;
}